* {
    margin: 0;
    font-family: Roboto, sans-serif;
}
#error-message-container{
    position: fixed;
    top:7vh;
    right:0;
    margin: 10px;
    max-height: 800px;
    max-width:350px;
    overflow: hidden;
}
.error-message-box{
    background-color: rgba(220,0,0,1);
    width:350px;
    height: 100px;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    overflow: hidden;
}
.message-box-header{
    height: 25px;
    width: 100%;
}
.message-box-body{
    margin: 5px;
    height: 100%;
    width: 100%;
    color: white;
}
.message-box-close-icon{
    float:right;
    width:15px;
    height: 15px;
    margin: 5px;
    background: url("/static/img/close.png") top center no-repeat;
    background-size: contain;
    cursor: pointer;
}
#nav{
    position: fixed;
    z-index: 1000;
}
.nav-invade-page{
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
}
#menus{
    display: inline-block;
    height: 100vh;
    background-color: rgba(3, 138, 255,1);
    color: white;
    overflow: hidden;
}
.display-nav{
    width:300px;
    transition: 0.1s;
}
.hide-nav{
    width:0;
    transition: 0.1s;
}
#nav-menu-icon{
    width: 40px;
    height: 40px;
    background: url("/static/img/nav-menu.png") top center no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    top:0;
    position: fixed;
    margin: 50px;
}
#logo{
    width:80%;
    line-height: 80px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    margin: 30px 10% 10px 10%;
}
#menu-container{
    width:90%;
    margin: 50% 0 0 10%;
    list-style: none;
    text-align: right;
}
.menu{
    margin: 10px 0 10px 0;
    padding: 5%;
    width: 90%;
    display: block;
    list-style: none;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    transition: 0.1s;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.menu:hover{
    background-color: white;
    color: rgba(3, 138, 255,1);
}
#auth-button-container{
    height: 50px;
    position: fixed;
    top:0;
    right: 0;
    margin: 50px;
}
.auth-button{
    display: inline-block;
    line-height: 50px;
    padding: 0 10px 0 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
#form{
    background: radial-gradient(circle, rgba(251,63,63,0.6) 0%, rgba(0,0,0,1) 80%);
    height: 100vh;
    width: 100%;

    position: fixed;
}
#form form{
    border-radius: 25px;
    border: 1px solid white;
    margin-top: 10vh;
}
#login{
    background-color: rgba(255,255,255,0.2);
    width: 20%;
    height: 50vh;
    margin: 0 40% 0 40%;
}
#form form h1{
    font-size: 24px;
    margin: 25px;
}
#form form p{
    font-size: 13px;
    margin: 5%;
}
#form form a{
    font-size: 13px;
    margin: 2%;
    padding: 2%;
    background-color: rgba(3, 138, 255,1);
    text-decoration: none;
    color: white;
    border-radius: 15px;
}
#form form input{
    width: 90%;
    height: 40px;
    margin: 10px 5% 0 5%;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}
#form form input[type=submit] {
    background-color: rgba(3, 138, 255,1);
    color: white;
}
#email-input[type=text] {
    background-color: white;
    background-image: url('/static/img/email.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 3px 3px;
    padding-left: 40px;
}
#user-input[type=text] {
    background-color: white;
    background-image: url('/static/img/user.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 3px 3px;
    padding-left: 40px;
}
#password-input[type=password] {
    background-color: white;
    background-image: url('/static/img/password.png');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 5px 5px;
    padding-left: 40px;
}

#home-page{
    width: 100%;
    line-height: 80vh;
    text-align: center;
    font-size: 60px;
}
#container{
    min-height: 100vh;
    width:100%;
    background: url("/static/img/background_one.jpg") top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: 0.3s;
    color: white;
}
#darker-background{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    min-height: 100vh;
}
#footer{
    width: 100%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background-color: rgba(14,12,14,1);
    color: white;
    clear: both;
    position: relative;
}




#disp-container{
    width:100%;
    background-color: rgba(0,0,0,0);
    transition: 0.3s;
}

#project-panel{
    width:85%;
    margin: 0 0 0 15%;
    padding-top: 100px;
    height: 60px;
}
#menupoints{
    border-bottom: 2px solid white;
    width:90%;
    margin: 0 5% 0 5%;
}
.active-proj{
    border: 1px solid rgba(3, 138, 255,1);
    border-bottom: none;
    background-color: rgba(255,255,255,1);
    color: rgba(3, 138, 255,1);
    width:10%;
    margin: 5px 0.5% 4px 0.5%;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    transition: 0.3s;
}
.active-proj a{
    color: rgba(3, 138, 255,1);
}
.active-proj a:hover{
    color: rgba(3, 138, 255,1);
}
.not-active-proj{
    width:10%;
    margin: 5px 0.5% 20px 0.5%;
    background-color: rgba(3, 138, 255,1);
    height: 40px;
    display: inline-block;
    overflow: hidden;
    box-shadow: 9px 9px 5px -3px rgba(0,0,0,0.3);
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}
.not-active-proj a{
    color: white;
}
.not-active-proj a:hover{
    color: rgba(3, 138, 255,1);
}
.project-id{
    display: none;
}
.project-name{
    line-height: 40px;
    text-align: center;
    transition: 0.3s;
    font-size: 10px;
}
.project-owner{
    text-align: center;
    height: 0;
    line-height:0;
    display: none;
    transition: 0.3s;
    display: none;
}
.project-container a{
    text-decoration: none;
}
.project-container:hover {
    box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.9);
    background-color: white;
}











.board-control-panel{
    min-height: 800px;
    width: 15.5%;
    float: left;
    display: inline-block;
    background-color: rgba(3, 138, 255,1);

}
.control-panel-menupoint{
    line-height: 50px;
    text-align: center;
    width:100%;

    cursor: pointer;
}
.control-panel-menupoint a{
    line-height: 50px;
    width:100%;
    display: block;
    text-decoration: none;
}
.control-panel-custom-menupoint{
    line-height: 50px;
    text-align: center;
    width:100%;
    font-style: italic;
    font-size: 12px;
    cursor: pointer;
}
.control-panel-custom-menupoint:hover{
    background-color: red;
}
.active-cpanel-menu a{
    color: rgba(3, 138, 255,1);
    background-color: white;
}
.not-active-cpanel-menu a{
    color: white;
    background-color: rgba(3, 138, 255,1);
}
.not-active-cpanel-menu a:hover{
    color: rgba(3, 138, 255,1);
    background-color: white;
}
.board-container{
    display: inline-block;
    width:84%;
    min-height: 800px;
    color: white;
    background-color: rgba(255,255,255,1);

}
notes-background{
    background: repeating-linear-gradient(
            to top,
            #fff 0px,
            #fff 30px,
            rgba(0,0,0,1) 31px,
            rgba(0,0,0,0.1) 10px
    );
}
.board-id{
    display: none;
}
.board-name{
    width:100%;
    display: none;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
}
.board-name h1{
    display: inline-block;
    line-height: 50px;
}
.board-inc-size-icon{
    background: url("/static/img/increase-size.png") top center no-repeat;
    background-size: contain;
}
.board-dec-size-icon{
    background: url("/static/img/decrease-size.png") top center no-repeat;
    background-size: contain;
}
.dec-board-content{
    display: none;
}
.inc-board-content{
    display: block;
}
.board-size-icon{
    width: 2%;
    height: 20px;
    margin: 15px 1% 15px 1%;
    display: inline-block;
    float: right;
    cursor: pointer;
}
.board-created-user{
    width:100%;
    display: inline-block;
    line-height: 20px;
    text-align: right;
    margin: 10px 1% 0 0;
    display: none;
}













.status-container{
    display: inline-grid;
    width:30%;
    min-height: 100px;
    overflow: hidden;
    margin: 50px 1% 30px 1%;
    color: rgba(3, 138, 255,1);
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 9px 9px 5px -3px rgba(0,0,0,0.3);
}
.status-id{
    display: none;
}
.status-name{
    width: 80%;
    margin: 0 10% 0 10%;
    text-align: center;
    line-height: 50px;
    height: 50px;
    font-size: 10px;
    border-bottom: 1px solid rgba(3, 138, 255,1);
    display: inline-block;
    transition: 3s;
}
.status-container:hover .status-menu{
    display: block;
}
.display{
    display: block;
}
.hide{
    display: none;
}
.status-menu{
    background-color: rgba(0,0,0,0);
    min-width:0;
    max-width: 200px;
    min-height: 50px;
    position: absolute;
    display: none;

}

.status-menu-icon{
    width:30px;
    margin: 15px 10px 15px 10px;
    height: 20px;
    background: url("/static/img/status-menu.png") top center no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: 3s;
}
.status-menu-container{
    width:200px;
    min-height:100px;

}
.status-menupoint{
    width: 100%;
    line-height: 50px;
    font-size: 14px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.status-menupoint:hover{
    background-color: white;
    color: black;
}
.status-card-color{
    display: none;
}





.card-container{
    width:70%;
    height: 45px;
    margin: 20px 15% 20px 15%;
    background-color: rgba(3, 138, 255,1);
    color: white;
    border: 1px solid white;
    cursor: grab;
    box-shadow: 9px 9px 5px -3px rgba(0,0,0,0.3);
    transition: 0.1s;
}
.card-container:hover{
    box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.9);
}
.card-id{
    display: none;
}
.card-name{
    text-align: center;
    line-height: 45px;
}
.cards-drop-zone{
    min-height: 100px;
    width: 100%;
}
.new-card{
    display: inline-block;
    height: 40px;
}
input.new-card{
    width: 78%;
    height: 43px;
    margin: 0.5px;
    border: 0.5px solid black;
}
a.new-card{
    width:20%;
    float: right;
    cursor: pointer;
}
.card-container:hover .card-menu{
    display: block;
}
.card-menu{
    background-color: rgba(100,0,0,1);
    min-width:0;
    max-width: 200px;
    min-height: 45px;
    position: absolute;
    display: none;
    cursor: pointer;
}

.card-menu-icon{
    width:30px;
    margin: 15px 10px 15px 10px;
    height: 15px;
    background: url("/static/img/card-menu.png") top center no-repeat;
    background-size: contain;
    transition: 3s;
}
.card-menu-container{
    width:150px;
    min-height:100px;

}
.card-menupoint{
    text-align: center;
    width: 140px;
    margin: 0 5px 0 5px;
    line-height: 40px;
    font-size: 14px;
    color: white;
}
.card-menupoint:hover{
    background-color: white;
    color: black;
}
/* mobile version */
@media (max-width: 999px) {
    #nav-menu-icon{
        width: 100px;
        height: 100px;
    }
    .display-nav{
        width:80%;
    }
    .menu{
        margin: 0% 0 0% 0;
        padding: 10% 0 0 0;
        width: 80%;
        height: 150px;
        font-size: 50px;
        border-radius: 0;
        border-bottom: 3px solid white;
    }
    #logo{
        height: 80px;
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        margin: 30px 10% 10px 10%;
    }
}










ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    padding: 70px 25px;
    width: 97%;
    background: #1abc9c;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}
