* {
    margin: 0;
    font-family: Roboto, sans-serif;
}
#error-message-container{
    position: fixed;
    top:7vh;
    right:0;
    margin: 10px;
    max-height: 800px;
    max-width:350px;
    overflow: hidden;
}
.error-message-box{
    background-color: rgba(220,0,0,1);
    width:350px;
    height: 100px;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    overflow: hidden;
}
.message-box-header{
    height: 25px;
    width: 100%;
}
.message-box-body{
    margin: 5px;
    height: 100%;
    width: 100%;
    color: white;
}
.message-box-close-icon{
    float:right;
    width:15px;
    height: 15px;
    margin: 5px;
    background: url("/static/img/close.png") top center no-repeat;
    background-size: contain;
    cursor: pointer;
}
#nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgba(28,24,28,1);
    color: white;
    overflow: hidden;
}
#logo{
    width:20%;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    display: inline-block;
}
#menu-container{
    display: inline-block;
    width:70%;
    margin: 0 10% 0 0;
    list-style: none;
    text-align: right;
    line-height: 60px;
}
.menu{
    margin: 0 0 0 2%;
    padding: 0 2% 0 2%;
    display: inline-block;
    list-style: none;
    border-radius: 5px;
    transition: 0.1s;
    line-height: 50px;
    color: white;
    text-decoration: none;
}

#container{
    padding-top: 60px;
    min-height: 100vh;
    width:100%;
    background-color: rgba(0,0,0,0.2);
    transition: 0.3s;
    color: black;
}
#background-one{
    background: url("/static/img/background_one.jpg") top center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#footer{
    width: 100%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background-color: rgba(14,12,14,1);
    color: white;
}



#project-panel{
    width:100%;
    position: fixed;
    background-color: white;
    margin-top: 60px;
    height: 50px;
    overflow: hidden;
}
#disp-container{
    width:96%;
    margin: 60px 2% 50px 2%;
    background-color: rgba(0,0,0,0);
    overflow: auto;
    min-height: 50px;
    transition: 0.3s;
    display: inline-block;
    border-radius: 5px;
}
#projects-management-panel{
    width:50px;
    height: 50px;
    position: fixed;
    margin-top: 50px;
    padding-left: 1%;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(0,0,36,0.2) 0%, rgba(119,0,0,0.7021009087228641) 28%, rgba(119,0,0,1) 100%);
    color: white;
    transition: 0.3s;
}
#settings-icon{
    background: url("/static/img/setting.png") top center no-repeat;
    background-size: contain;
    width:40px;
    height: 40px;
    margin: 5px;
}
#projects-management-panel a{
    display: none;
}
#projects-management-panel:hover{
    height: 750px;
    width:15%;
    transition: 0.3s;
    background: linear-gradient(90deg, rgba(0,0,36,0.2) 0%, rgba(10,0,0,0.7021009087228641) 10%, rgba(0,0,0,1) 100%);
}
#projects-management-panel:hover #settings-icon{
    display: none;
}
#projects-management-panel:hover a{
    display: block;
}








.active-proj{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    background-color: white;
    color: black;
    width:10%;
    margin: 5px 0.5% 5px 0.5%;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
    transition: 0.3s;
}
.active-proj a{
    color: black;
}
.active-proj a:hover{
    color: black;
}
.not-active-proj{
    width:10%;
    margin: 5px 0.5% 5px 0.5%;
    background-color: black;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}
.not-active-proj a{
    color: white;
}
.not-active-proj a:hover{
    color: black;
}
.project-id{
    display: none;
}
.project-name{
    line-height: 40px;
    text-align: center;
    transition: 0.3s;
    font-size: 10px;
}
.project-owner{
    text-align: center;
    height: 0;
    line-height:0;
    display: none;
    transition: 0.3s;
    display: none;
}
.project-container a{
    text-decoration: none;
}
.project-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    background-color: white;
}












.board-container{
    min-width:95%;
    min-height: 50px;
    margin: 50px 2.5% 50px 2.5%;
    overflow-y: hidden;
    background-color: rgba(0,0,0,0.6);
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.6);
}
.board-id{
    display: none;
}
.board-name{
    width:100%;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
}
.board-name h1{
    display: inline-block;
    line-height: 50px;
}
.board-inc-size-icon{
    background: url("/static/img/increase-size.png") top center no-repeat;
    background-size: contain;
}
.board-dec-size-icon{
    background: url("/static/img/decrease-size.png") top center no-repeat;
    background-size: contain;
}
.dec-board-content{
    display: none;
}
.inc-board-content{
    display: block;
}
.board-size-icon{
    width: 2%;
    height: 20px;
    margin: 15px 1% 15px 1%;
    display: inline-block;
    float: right;
    cursor: pointer;
}
.board-created-user{
    width:100%;
    display: inline-block;
    line-height: 20px;
    text-align: right;
    margin: 10px 1% 0 0;
    display: none;
}













.status-container{
    display: inline-grid;
    width:20%;
    min-height: 100px;
    overflow: hidden;
    margin: 50px 1% 30px 1%;
    color: black;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}
.status-id{
    display: none;
}
.status-name{
    text-align: center;
    line-height: 50px;
    font-size: 10px;
    border-bottom: 1px solid black;
    display: inline-block;
    transition: 3s;
}
.status-container:hover .status-menu{
    display: block;
}
.display{
    display: block;
}
.hide{
    display: none;
}
.status-menu{
    background-color: rgba(0,0,0,0);
    min-width:0;
    max-width: 200px;
    min-height: 50px;
    position: absolute;
    display: none;

}

.status-menu-icon{
    width:30px;
    margin: 15px 10px 15px 10px;
    height: 20px;
    background: url("/static/img/status-menu.png") top center no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: 3s;
}
.status-menu-container{
    width:200px;
    min-height:100px;

}
.status-menupoint{
    width: 100%;
    line-height: 50px;
    font-size: 14px;
    background-color: black;
    color: white;
}
.status-menupoint:hover{
    background-color: white;
    color: black;
}
.status-card-color{
    display: none;
}





.card-container{
    width:70%;
    height: 45px;
    margin: 20px 15% 20px 15%;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: grab;
}
.card-id{
    display: none;
}
.card-name{
    text-align: center;
    line-height: 45px;
}
.cards-drop-zone{
    min-height: 100px;
    width: 100%;
}
.new-card{
    display: inline-block;
    height: 40px;
}
input.new-card{
    width: 78%;
    height: 43px;
    margin: 0.5px;
    border: 0.5px solid black;
}
a.new-card{
    width:20%;
    float: right;
    cursor: pointer;
}
.card-container:hover .card-menu{
    display: block;
}
.card-menu{
    background-color: rgba(100,0,0,1);
    min-width:0;
    max-width: 200px;
    min-height: 45px;
    position: absolute;
    display: none;
    cursor: pointer;
}

.card-menu-icon{
    width:30px;
    margin: 15px 10px 15px 10px;
    height: 15px;
    background: url("/static/img/card-menu.png") top center no-repeat;
    background-size: contain;
    transition: 3s;
}
.card-menu-container{
    width:150px;
    min-height:100px;

}
.card-menupoint{
    text-align: center;
    width: 140px;
    margin: 0 5px 0 5px;
    line-height: 40px;
    font-size: 14px;
    color: white;
}
.card-menupoint:hover{
    background-color: white;
    color: black;
}