div#error-message-container
    if error
        div.error-message-box
            div.message-box-header
                div.message-box-close-icon
            div.message-box-body
                p= error

footer#footer
    p &copy; 2021 metalcoding.eu