head
    title= title
    style
        include ../css/style.css
        include ../css/mobile.css
body
    div#background-img
        div#darker-background
    div#nav
        div#menus.hide-nav
            div#menu-icons
                if user == null
                    div.menu
                        a(href="/").menu-icon.home-icon
                        a(href="/").menu-description Home
                    div.menu
                        a(href="/magori").menu-icon.magori-icon
                        //a(href="/magori").menu-description Management software
                    div#auth-button-container
                        div.menu
                            a(href="/register").menu-icon.auth-button.register-icon
                            //a(href="/register").menu-description Register
                        div.menu
                            a(href="/login").menu-icon.auth-button.login-icon
                            //a(href="/login").menu-description Login
                else
                    div.menu
                        a(href="/").menu-icon.home-icon
                        a(href="/").menu-description Home
                    div.menu
                        a(href="/magori").menu-icon.magori-icon
                        //a(href="/magori").menu-description Management software
                    div.menu
                        a(href="/smarthome-igenyfelmeres").menu-icon.igenyfelmeres-icon
                        //a(href="/smarthome-igenyfelmeres").menu-description SmartHome - Igényfelmérés
                    div#auth-button-container
                        div.menu
                            a(href="/logout").menu-icon.auth-button.logout-icon
                            //a(href="/logout").menu-description Logout

        div#nav-menu-icon

script(type="module" src='/static/js/nav_menu.js')