head
    title= title
    style
        include ../css/style.css
body
    div#nav
        div#menus.hide-nav
            div#logo Metalcoding.eu
            div#menu-container
                if user == null
                    a(href="/").menu Home
                    a(href="/magori").menu Management software
                    a(href="/").menu Web design
                else 
                    a(href="/").menu Home
                    a(href="/magori").menu Management software
                    a(href="/").menu Web design
                    a(href="/smarthome-igenyfelmeres").menu 
        div#nav-menu-icon
    if user == null
        div#auth-button-container
            a.auth-button(href="/register") Register
            a.auth-button(href="/login") Login
    else
        div#auth-button-container
            a.auth-button= user.name
            a.auth-button(href="/logout") Logout
script(type="module" src='/static/js/nav_menu.js')