head
    title= title
    style
        include ../css/style.css
body
    div#nav
        div#logo {Metal_Coding}
        div#menu-container
            a(href="/").menu Home
            a(href="/magori").menu MagoriComputers - Managemet software

