html
include static/includes/header
body
    div#container
        div#background-img
            div#darker-background
                h1#logo.big-logo Metalcoding

include static/includes/footer.pug