html
include static/includes/header
div#container
        if user == null
                h1#logo.big-logo Metalcoding
        else
                h1#logo.big-logo Metalcoding


include static/includes/footer.pug