doctype html
html(lang='en')
include static/includes/header.pug
body
    div#project-panel
    div#background-one
        div#container
            div#projects-management-panel
                div#settings-icon
                a projects-in-line: 3
                br
                a max-projects on the page: unlimited
            div#disp-container

include static/includes/footer.pug
//script(type="module" src='/static/js/index.js')

