doctype html
html(lang='en')
    head
        title= title
    body
        each project in projects
            div.project-container
                div.project-title
                    p='Project name: ' +project.name
                div.project-body
                    p= 'Project owner: '+project.owner.name



