doctype html
html(lang='en')
    include static/includes/header.pug
    body
        div#background-one
            div#container
                div#projects-management-panel
                    a projects-in-line: 3
                    br
                    a max-projects on the page: unlimited
                div#disp-container

    include static/includes/footer.pug
    script(src='/static/js/index.js')

