html
include static/includes/header
body
    div#container
        div#darker-background
            h1#igenyfelmeres_h1 Magori computers - SmartHome Igényfelmérő kalkulátor
            div#igenyfelmero-container
                div#igenyfelmeres-records-container
                    if igenyfelmeres_records
                        each if_record in igenyfelmeres_records
                            a.igenyfelmeres-record=if_record.name
                table
                    each index in active_igenyfelmero_record.line_records.length
                        tr
                            each value, key in active_igenyfelmero_record.line_records[index]
                                th= key
                        each if_first in active_igenyfelmero_record.line_records[index]
                            tr
                                each value in active_igenyfelmero_record.line_records[index]
                                    td= value



script(type="module" src='/static/js/igenyfelmero.js')
include static/includes/footer.pug