html
include static/includes/header
body
    div#container
        div#darker-background
            h1#igenyfelmeres_h1 Magori computers - SmartHome Igényfelmérő kalkulátor
            div#igenyfelmero-container

script(type="module" src='/static/js/igenyfelmero.js')
include static/includes/footer.pug